 /* Dropdown styles */
 .dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
  }

  .dropdown-toggle {
    display: flex;
    align-items: center;
    padding: 12px 16px;
    background-color: #FAFBFF;
    border: 1px solid #C3D4E9;
    cursor: pointer;
    user-select: none;
    transition: background-color 0.2s ease;
    border-radius: 12px;
  }

  .dropdown-toggle:hover {
    background-color: #f8f8f8;
  }

  .dropdown-option-image {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    border-radius: 50%;
  }

  .dropdown-option-label {
    flex-grow: 1;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.5;
  }

  .dropdown-caret {
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 8px 0 8px;
    border-color: #999 transparent transparent transparent;
  }

  .dropdown-menu {
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    margin: 0;
    padding: 12px 0;
    background-color: #FAFBFF;
    border: 1px solid #C3D4E9;
    border-top: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    list-style: none;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-8px);
    transition: opacity 0.2s ease, visibility 0.2s ease, transform 0.2s ease;
    max-height: 200px;
    overflow-y: auto;
  }

  .dropdown-menu.open {
    opacity: 1;
    visibility: visible;
  }

  .dropdown-menu li {
    display: flex;
    align-items: center;
    padding: 12px 15px;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }

  .dropdown-menu li:hover {
    background-color: #DBEAFE;
  }

  .dropdown-menu li .dropdown-option-image {
    margin-right: 12px;
  }

  .dropdown-menu li .dropdown-option-label {
    flex-grow: 1;
    font-weight: bold;
  }

  /* Centering the dropdown */
  .dropdown.open .dropdown-menu {
    transform: translateY(0);
  }

  /* Adjust dropdown width */
  .dropdown.open .dropdown-toggle {
    border-radius: 4px 4px 0 0;
    border-bottom: none;
  }

  .dropdown.open .dropdown-menu {
    border-radius: 0 0 4px 4px;
    border-top: none;
  }